<%= form_for(@accesspoint) do |f| %>
  <% if @accesspoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accesspoint.errors.count, "error") %> prohibited this accesspoint from being saved:</h2>

      <ul>
      <% @accesspoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
<h1>Please enter a new public internet access point</h1>
  <div class="field">
    Street Address<br>
    <%= f.text_field :streetaddress %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    Is this a public building?<br>
    <%= f.check_box :publicbuilding %>
  </div>
  <div class="field">
    Is there wireless available?<br>
    <%= f.check_box :wirelessavailable %>
  </div>
  <div class="field">
    How many public workstations are available, if any?<br>
    <%= f.number_field :publicworkstations %>
  </div>
<h3>Internet Speed:</h3>We are also interested in collecting information on the speed of the internet at each access point. Please consider performing a speed test at <a href="http://internethealthtest.org">Internet Health Test</a> to measure the download and upload speeds of this access point. Speed is traditionally measured in megabits per second (Mbps).
  <br>
  <div class="field">
    Download Speed (Mbps)<br>
    <%= f.number_field :downloadspeed %>
  </div>
  <div class="field">
    Upload Speed (Mbps)<br>
    <%= f.number_field :uploadspeed %>
  </div>
  <div class="field">
    Is a password required to access the internet?<br>
    <%= f.check_box :passwordrequired %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
